#medic

  %h1
    Médicos
    %span= link_to 'Cadastrar Medico', new_admin_medic_path
    = link_to 'Voltar', admin_root_path

  - @medics.each do |medic|

    %span= "Dr. #{ medic.name }"
    %span= "Email: #{ medic.email }"

    .box_button
      %span= link_to 'Mostrar', admin_medic_path(medic)
      %span= link_to 'Editar', edit_admin_medic_path(medic)
      %span= link_to 'Deletar', admin_medic_path(medic), method: :delete, data: { confirm: 'Deseja deletar o médico?' }